* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  padding: 5px;
  background-color: #f5f5f5;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

main {
  display: flex;
  /* フレックスアイテムを上下中央に配置する */
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  padding: 10px;
  border-bottom: 1px solid gray;
}

main > p {
  /* フレックスアイテムの横幅の比率を指定する */
  flex: 7;
  text-align: center;
}

main > div {
  flex: 3;
  display: flex;
  flex-direction: column;
  margin-right: 5%;
}

.dogImage {
  display: block;
  margin-bottom: 10px;
  max-height: 90%;
  max-width: 100%;
}

main > div > button {
  display: block;
  margin-left: auto;
  margin-top: auto;
}
